<%- include('../../partials/header.ejs') %>
<body>
  <%- include('../../partials/navbar.ejs') %>

  <div class="container">

    <h1 class="my-5">Categorias</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>TITULO</th>
                <th>SLUG</th>
                <th>AÇÔES</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>Dev web</th>
                <th>dev-web</th>
                <th></th>
            </tr>
        </tbody>
    </table>

  </div>

</body>
<%- include('../../partials/footer.ejs') %>
