<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a href="/" class="navbar-brand">USER</a>

    <ul class="navbar-nav">

    <li class="nav-item">
        <a href="/" class="nav-link"> Home </a>
    </li>

        <% categories.forEach(({title, slug}) => { %>

            <li class="nav-item">
                <a href="/category/<%= slug %>" class="nav-link"> <%= title %> </a>
            </li>

        <% }) %> 
    </ul>

</nav>