<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/" class="navbar-brand">BLOG_DEV</a>
    <ul class="navbar-nav">
        <% if(categories.length === 0) { %>
        <% } else { %>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    Categorias
                </button>
                <div class="dropdown-menu">
                    <% categories.forEach(({title, slug}) => { %>
                        <a class="dropdown-item" href="/category/<%= slug %>"> <%= title %> </a>
                    <% }) %> 
                </div>
            </div>
        <% } %>
    </ul>
</nav>