body {
    background-color: #eee;
}
.error {
    color: #f00;
    animation: pisca 2s infinite;
}
.error-dark {
    color: #f00;
    text-align: center;
    animation: pisca-dark 4s infinite;
}

@keyframes pisca {
    0% {
        color: #f00;
    }
    50% {
        color: #000;
    } 
    100% {
        color: #f00;
    }
}

@keyframes pisca-dark {
    0% {
        color: #fff;
    }
    50% {
        color: yellow;
        font-size: 1.5rem;
    } 
    100% {
        color: #fff;
    }
}