<%- include('../../partials/header.ejs') %> 

<body>
    
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h2>Login Admin</h2>
            </div>
            <div class="card-body">
                <form action="/authenticate" method="POST">
                    <div class="my-2">
                        <label for="">Email:</label>
                        <input class="form-control" type="email" name="email" placeholder="email@exemplo.com">
                    </div>

                    <div class="my-3>
                        <label for="">Senha:</label>
                        <input class="form-control" type="password" name="password" placeholder="Digite sua senha...">
                    </div>

                    <div class="my-3">
                        <h2>Cadastre-se</h2>
                        <a href="/admin/users/create" class="btn btn-success">Cadastre-se</a>
                    </div>
                    
                    <button type="submit" class="btn btn-block btn-success mt-4">Login</button>
                </form>
            </div>
        </div>
    </div>

</body>

<%- include('../../partials/footer.ejs') %> 